#Ignored files
app/.classpath
app/.project
app/build/
app/app.iml
.settings/
local.properties
.idea/
.gradle/

#Tracked files
!build.gradle
!app/libs/
!app/src/
!app/proguard-rules.pro
!build.gradle
!gradle/
!gradle.properties
!gradlew
!gradlew.bat
!settings.gradle
